/*global variables
blue: #1da1f2;
neon: #d5ff24;*/
* {
  font-style: "Open Sans", sans-serif;
}

/*drawing page----------------------------------*/
#draw {
  cursor: url("../imgs/marker.png"), auto;
  height: 100vh;
}

.titleDraw {
  color: #000000;
  font-size: 5em;
  position: relative;
  display: inline-block;
  margin-top: 8%;
  margin-left: 4%;
  margin-bottom: 2%;
}

.page {
  border: black solid 1px;
  position: relative;
  margin-left: 20%;
  padding-left: 50px;
  margin-top: 2%;
}

.rightSide {
  position: absolute;
  right: 18%;
  top: 450px;
}

.blackOut {
  background: #000000;
  color: #FFF;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
}

.erase {
  background: transparent;
  border: 1px solid black;
  color: #000000;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
  margin-top: 10px;
}

.explain {
  display: block;
  width: 37%;
  position: relative;
  margin-left: 20%;
  margin-bottom: 10px;
  font-size: 1.25em;
}

.explainBtm {
  margin-top: 10px;
  margin-bottom: 10px;
}

hr {
  height: 1px;
  border-width: 0;
  color: black;
  background-color: black;
  margin-top: 20px;
}

.quoteOne {
  background: #e21a22;
  color: #FFF;
  border: none;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
  margin-bottom: 3%;
  margin-top: 30px;
  border-radius: 2px;
}

.quoteTwo {
  background: #0014b7;
  color: #FFF;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
}

.leftSide {
  position: absolute;
  display: inline-block;
  width: 200px;
  top: 360px;
  left: 4%;
}

.political {
  background: #d5ff24;
  color: #000000;
  display: inline-block;
  border: none;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
  margin-top: 20px;
  position: absolute;
  top: 320px;
  left: 12%;
}

.turn {
  width: 12%;
  position: absolute;
  left: 16%;
  top: 450px;
}

#drawCTA {
  background: #d5ff24;
  color: #000000;
  display: inline-block;
  border: none;
  padding-left: 57px;
  padding-right: 57px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.25em;
  margin-right: 10px;
}

#btn-download {
  background: #1da1f2;
  border: none;
  font-size: 1.25em;
  color: #FFF;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  margin-right: 20px;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -ms-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
  border-radius: 0;
}

.btmDraw {
  position: relative;
  margin-left: 38%;
  width: 500px;
  margin-top: 1%;
}

.close {
  position: absolute;
  top: 10px;
  font-size: 16px;
  right: 5px;
  cursor: pointer;
  background: none;
  border: none;
}

.close {
  color: #FFF;
}

.modal-frame {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  visibility: hidden;
}

.modal-body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  border-radius: 3px;
  background: rgba(29, 161, 241, 0.8);
  position: absolute;
  left: 45%;
  margin-left: -250px;
  height: 400px;
  margin-top: -200px;
  top: 50%;
  z-index: 100;
}

.modal-body h3 {
  color: #FFF;
  font-size: 3.5em;
}

.actionBtn {
  width: 400px;
  margin-top: 10%;
  margin-left: 25%;
}

.direct {
  background: #d5ff24;
  color: #000000;
  display: inline-block;
  border: none;
  padding-left: 65px;
  padding-right: 65px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.25em;
  margin-right: 10px;
}

#back {
  background: #000000;
  color: #FFF;
  display: inline-block;
  border: none;
  padding-left: 57px;
  padding-right: 57px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 1.25em;
  margin-right: 10px;
  margin-top: 10px;
}

.modal-inner {
  padding: 15px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -webkit-transition: .2s ease-in-out;
  -moz-transform: scale(0.5);
  -moz-transition: .2s ease-in-out;
  -ms-transform: scale(0.5);
  -ms-transition: .2s ease-in-out;
  -o-transform: scale(0.5);
  -o-transition: .2s ease-in-out;
  transform: scale(0.5);
  transition: .2s ease-in-out;
}

.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: #333;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -ms-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.modal-inner {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

.modal-frame.active {
  visibility: visible;
  height: inherit;
  display: block;
}

.modal-frame.active .modal-body {
  -webkit-animation: popperIn .45s;
  -moz-animation: popperIn .45s;
  -ms-animation: popperIn .45s;
  -o-animation: popperIn .45s;
  animation: popperIn .45s;
}

@-webkit-keyframes popperIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes popperIn {
  0% {
    opacity: 0;
    -moz-transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
  }
}

@keyframes popperIn {
  0% {
    opacity: 0;
    transform: scale(1.06);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes popperOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    -webkit-transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.15);
  }
}

@-moz-keyframes popperOut {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    -moz-transform: scale(1.05);
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1.15);
  }
}

@keyframes popperOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  30% {
    opacity: 1;
  }
  40% {
    transform: scale(1.05);
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}

.modal-frame.active .modal-inner {
  opacity: 1;
  -webkit-transform: scale(1);
  -webkit-transition: .15s ease-in-out;
  -webkit-transition-delay: .13s;
  -moz-transform: scale(1);
  -moz-transition: .15s ease-in-out;
  -moz-transition-delay: .13s;
  -ms-transform: scale(1);
  -ms-transition: .15s ease-in-out;
  -ms-transition-delay: .13s;
  -o-transform: scale(1);
  -o-transition: .15s ease-in-out;
  -o-webkit-transition-delay: .13s;
  transform: scale(1);
  transition: .15s ease-in-out;
  transition-delay: .13s;
}

.modal-frame.active .modal-overlay {
  opacity: .5;
  visibility: visible;
}

.modal-frame.leave .modal-body {
  opacity: 0;
  -webkit-animation: popperOut .5s;
  -webkit-transition: .3s ease-in-out;
  -webkit-transition-delay: .2s;
  -webkit-transform: scale(0.95);
  -moz-animation: popperOut .5s;
  -moz-transition: .3s ease-in-out;
  -moz-transition-delay: .2s;
  -moz-transform: scale(0.95);
  -ms-animation: popperOut .5s;
  -ms-transition: .3s ease-in-out;
  -ms-transition-delay: .2s;
  -ms-transform: scale(0.95);
  animation: popperOut .5s;
  transition: .3s ease-in-out;
  transition-delay: .2s;
  transform: scale(0.95);
}

.modal-frame.leave .modal-inner {
  opacity: 0;
  -webkit-transform: scale(0.95);
  -webkit-transition: .15s ease-in-out;
  -moz-transform: scale(0.95);
  -moz-transition: .15s ease-in-out;
  -ms-transform: scale(0.95);
  -ms-transition: .15s ease-in-out;
  -o-transform: scale(0.95);
  -o-transition: .15s ease-in-out;
  transform: scale(0.95);
  transition: .15s ease-in-out;
}
